.articles-container{
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #FFFF;
  z-index: 99;

  .title-articles{
      text-align: center;
      color: rgba(51, 51, 51, 1);
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  .title-articles h1{
    font-size: 35px;
  }
}
.slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  gap: 5rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: grab;
  margin-top: 4rem;
  padding-inline: 1rem;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slide img {
  inline-size: 150px;
  height: 150px;
  aspect-ratio: 4 / 3;
  object-fit: contain;
}
.slide img:hover{
  color: rgb(142, 1, 144);
  border-radius: 10px;
}
@media (max-width: 570px) {
  .slider {
      grid-auto-columns: 20%;
    }
    .slide img {
      inline-size: 100px;
      height: 100px;
      margin: 0px;
    }
    .articles-container{
      text-align: center;
      height: auto;
  
      .title-articles{
          font-size: 30px;
          width: 100%;
      }
  }
}
